{{ define "main" }}
<!-- Masthead-->
{{partial "header.html" .}}
<section class="bg-light my-5" id="stores">
    <h2 class="text-center">Stores On Taniti</h2>
    <div class="container p-4 px-lg-5">
        <div class="row gx-0 mb-lg-0 justify-content-center">
            <div class="col-lg-8">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text p-2 w-100 my-auto text-center text-lg-left">
                            <p class="mb-0 text-black-50">
                                Taniti has two supermarkets, two smaller grocery stores, and
one convenience store that is open 24 hours a day.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="w-75 mx-auto my-5"> 
<section class="bg-light my-5" id="restaurants">
    <h2 class="text-center">Restaurants On Taniti</h2>
    <div class="container p-4 px-lg-5">
        <div class="row gx-0 mb-lg-0 justify-content-center">
            <div class="col-lg-4"><img class="img-fluid" src="/images/pexels-kindel-media-8181521.jpg" alt="..." /></div>
            <div class="col-lg-8">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text p-2 w-100 my-auto text-center text-lg-left">
                            <p class="mb-0 text-black-50">
                                Taniti currently has 10 restaurants: five serve mostly local fish and rice, three serve American-style meals, and two serve Pan-Asian cuisine.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

  

