{{ define "main" }}
<!-- Masthead-->
{{partial "header.html" .}}
<section class="bg-light my-5" id="travel_to">
  <div class="container p4 px-lg-5">
    <h2 class="text-center">How To Get Here</h2>
      <!-- Project One Row-->
      <div class="row gx-0 my-5 mb-lg-0 justify-content-center">
          <div class="col-lg-6"><img class="img-fluid" src="/images/pexels-oleksandr-p-1004584.jpg" alt="..." /></div>
          <div class="px-1 col-lg-6">
              <div class="bg-light text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-black">By Air</h4>
                          <p class="mb-0 text-black-50">Taniti is served by a small airport that can accommodate small jets and propeller planes. Taniti is in the process of expanding the airport so larger jets will be able to land on the island within the next few years.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Project Two Row-->
      <div class="row gx-0 justify-content-center">
          <div class="col-lg-6"><img class="img-fluid" src="/images/pexels-vincent-rivaud-4625667.jpg" alt="..." /></div>
          <div class="px-1 col-lg-6 order-lg-first">
              <div class="bg-light text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-black">By Sea</h4>
                          <p class="mb-0 text-black-50">Almost all visitors arrive to Taniti by air, though some arrive on a small cruise ship that docks in Yellow Leaf Bay for one night per week. </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<hr class="w-75 mx-auto my-5"> 
<section class="bg-light my-5" id="travel_in">
    <h2 class="text-center">How To Get Around</h2>
    <div class="container p-4 px-lg-5">
        <!-- Project One Row-->
        <div class="row gx-0 mb-lg-0 justify-content-center">
            <div class="col-lg-4"><img class="img-fluid" src="/images/pexels-mads-thomsen-1178448.jpg" alt="..." /></div>
            <div class="col-lg-8">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text p-2 w-100 my-auto text-start text-lg-left">
                            <p class="mb-0 text-black-50">
                                Taniti City is fairly flat and very walkable. Many tourists stay in the area surrounding Merriton Landing: this area is easy to explore on foot.
                                <ul class="my-3">
                                    <lh class="h5">Ground Transportation</lh>
                                    <li>Public buses serve Taniti City and run from 5 a.m. to 11 p.m. every day. Private buses serve the rest of the island.</li>
                                    <li>Taxis are available in Taniti City, and rental cars can be rented from a local rental agency near the airport.</li>
                                    <li>Bikes and helmets are available to rent from several vendors (helmets are required by law).</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
{{ end }}

  

