<!DOCTYPE html>
<html lang="en-US">
{{- partial "head.html" . -}}

<body id="page-top" class="bg-light container-fluid m-0 p-0">
	{{- partial "nav.html" . -}}
	{{- block "header" . }}{{- end }}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
	{{- block "after_footer" . }}{{- end }}

</body>

</html>
