{{ define "main" }}
<!-- Masthead-->
{{partial "header.html" .}}
<section class="projects-section bg-light mt-2" id="air">
    <div class="container px-4 px-lg-5">
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="/images/pexels-dominika-roseclay-977737.jpg" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black">By Air</h4>
                            <p class="mb-0 text-black-50">Taniti is served by a small airport that can accommodate small jets and propeller planes. Taniti is in the process of expanding the airport so larger jets will be able to land on the island within the next few years. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="projects-section bg-light mt-2" id="hotels">
    <div class="container px-4 px-lg-5">
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="/images/pexels-dominika-roseclay-977737.jpg" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black">Mountains</h4>
                            <p class="mb-0 text-black-50">Another example of a project with its respective description. These sections work well responsively as well!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="projects-section bg-light mt-2" id="entertainment">
  <div class="container px-4 px-lg-5">
      <!-- Featured Project Row-->
      <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
          <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/images/pexels-asad-photo-maldives-3320516.jpg" alt="..." /></div>
          <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                  <h4>Shoreline</h4>
                  <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
              </div>
          </div>
      </div>
      <!-- Project One Row-->
      <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
          <div class="col-lg-6"><img class="img-fluid" src="/images/pexels-ivan-bertolazzi-6485219.jpg" alt="..." /></div>
          <div class="col-lg-6">
              <div class="bg-light text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-black">Misty</h4>
                          <p class="mb-0 text-black-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Project Two Row-->
      <div class="row gx-0 justify-content-center">
          <div class="col-lg-6"><img class="img-fluid" src="/images/pexels-dominika-roseclay-977737.jpg" alt="..." /></div>
          <div class="col-lg-6 order-lg-first">
              <div class="bg-light text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-black">Mountains</h4>
                          <p class="mb-0 text-black-50">Another example of a project with its respective description. These sections work well responsively as well!</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Contact-->
<section class="contact-section bg-light">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
          <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                  <div class="card-body text-center">
                      <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                      <h4 class="text-uppercase m-0">Address</h4>
                      <hr class="my-4 mx-auto" />
                      <div class="small text-black-50">{{$.Site.Params.address}}</div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                  <div class="card-body text-center">
                      <i class="fas fa-envelope text-primary mb-2"></i>
                      <h4 class="text-uppercase m-0">Email</h4>
                      <hr class="my-4 mx-auto" />
                      <div class="small text-black-50"><a href="#!">{{$.Site.Params.email}}</a></div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                  <div class="card-body text-center">
                      <i class="fas fa-mobile-alt text-primary mb-2"></i>
                      <h4 class="text-uppercase m-0">Phone</h4>
                      <hr class="my-4 mx-auto" />
                      <div class="small text-black-50">{{$.Site.Params.mobile}}</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="social d-flex justify-content-center">
          <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
      </div>
  </div>
</section>
{{ end }}

  

