<ul class="list-inline custom-breadcrumb align-self-end">
  {{ $structuredBreadcrumbs := slice }}
  {{ $i := 0 }}
  {{ range .Ancestors.Reverse }}
    {{ if eq $i 0 }}
      <li class="list-inline-item text-black-50 font-secondary"><a href="{{ .RelPermalink }}">Home</a></li>
      {{ else }}
      <li class="list-inline-item text-black-50 font-secondary"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    {{ $structuredBreadcrumbs = $structuredBreadcrumbs | append (dict "@type" "ListItem" "position" (add $i 1) "name" .LinkTitle "item" .Permalink) }}
    <li class="list-inline-item h5" style="transform:scaleX(0.5)">&gt;</li>
    {{ $i = add $i 1 }}
  {{ end }}
  {{ $structuredBreadcrumbs = $structuredBreadcrumbs | append (dict "@type" "ListItem" "position" (add $i 1) "name" .Title "item" .Permalink) }}
  <li class="list-inline-item text-black-50 font-secondary">{{ .Title }}</li>
</ul>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": {{ $structuredBreadcrumbs | jsonify | safeJS }}
  }
</script>