<!-- footer -->
<footer class="bg-dark text-white">
  <!-- footer content -->
  <div class="footer p-5 border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <a class="logo-footer d-inline-block" href="{{ site.BaseURL | relLangURL }}">
            {{ partial "logo.html" }}
           </a>
          <ul class="list-unstyled">
            <li class="list-item">{{ site.Params.address | markdownify }}</li>
            <li class="list-item">{{ site.Params.email | markdownify }}</li>
            <li class="list-item">{{ site.Params.mobile | markdownify }}</li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-12">
          <a href="/privacy">Privacy Policy</a>

        </div>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-md-left">
          <p class="pt-2 text-white-50">Copyright &copy; {{$.Site.Title}} {{ time.Now.Format "2006" }}</p>
        </div>
        <div class="col-md-5 text-md-right text-center">
          <ul class="list-inline">
            {{ range site.Params.social }}
            <li class="list-inline-item"><a class="d-inline-block p-2" href="{{ .link | safeURL }}" aria-label="Visit Our {{ .title }}"><i class="{{ .icon }} text-primary"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->


<!-- cookie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="bg-dark text-white-50 cookie-box cookie-box-hide">
	By continuing to use this website, you agree to the use of cookies and accept the terms of our <a href="{{ ($.Site.GetPage "privacy").Permalink }}" class="text-warning text-decoration-underline"><u>privacy policy</u></a>. <button id="js-cookie-button" class="btn btn-sm p-3 btn-primary mx-2">I Accept</button>
</div>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
