<style>
  .masthead{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), 
                  url("{{with .Params.header_bg}}{{.}}{{end}}");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
  }

  .masthead h1 {
    font-size: 2.5rem;
  }

</style>
<header class="masthead" id="header_top">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center flex-column">
      {{partial "breadcrumbs.html" .}}
      <div class="text-center">
        <h1 class="mx-auto my-0">{{.Params.Title}}</h1>
        <h2 class="text-50 mx-auto mt-2 mb-5">{{.Params.subtitle}}</h2>
      </div>
      </div>
    </div>
</header>