<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container px-1 px-lg-3">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" width="50" height="50" alt="logo">
            <strong class="fancy-font ml-2 d-inline-block d-xl-inline-block">{{ $.Site.Title }}</strong>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse pt-2 flex-column navbar-collapse" id="navbarResponsive">
            {{ if $.Site.Params.main_menu }}
                <div id="main-nav-links" class="collapse show m-lg-0 font-serif h5" aria-expanded="true" >
                    <ul class="navbar-nav align-items-start">
                        {{ range $.Site.Params.main_menu }}
                            <li class="nav-item border-bottom"><a class="nav-link p-lg-3" href="{{.href}}">{{.link_text}}</a></li>
                        {{ end }}
                    </ul>
                </div>
            {{end}}
            <ul class="page-nav-links navbar-nav justify-content-center w-100">
                <lh class="d-lg-none">{{.Params.Title}}</lh>
                <li class="nav-item px-2"><a class="text-black-50 nav-link page-nav-link p-lg-3" href="#header_top">Top <i class="fa-solid fa-arrow-up"></i></a></li>
                {{ if .Params.sub_menu }}
                    {{ range .Params.sub_menu }}
                        <li class="nav-item px-2"><a class="text-black-50 nav-link page-nav-link p-lg-3" href="{{.href}}">{{.link_text}}</a></li>
                    {{end}}
                {{ end }}
                </ul>
        </div>
    </div>
</nav>
