{{ define "main" }}
<!-- Masthead-->
<style>
    .masthead{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), url("/images/pexels-asad-photo-maldives-3320516.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
</style>
<header class="masthead" id="header_top">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
          <div class="text-center">
              <h1 class="fancy-font mx-auto my-0">{{$.Site.Title}}</h1>
              <h2 class="text-50 mx-auto mt-2 mb-5">Idyllic Gem Hidden In The Pacific.</h2>
              <a class="btn btn-primary" href="#about">Discover More</a>
          </div>
      </div>
  </div>
</header>
<section class="about-section p-5 text-center" id="about">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
            <div>
              <p class="text-black-50">
                  Romance, relaxation, or adventure.
              </p>
              <h2>Discover Taniti</h2>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="h5 text-dark-emphasis">Clear Blue Water</div>
                    <img src="/images/pexels-asad-photo-maldives-457881.jpg" class="img-fluid border-radius-50" alt="palm trees"></img>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="h5 text-dark-emphasis">Secluded Beaches</div>
                    <img src="/images/pexels-james-wheeler-3948134.jpg" class="img-fluid border-radius-50" alt="palm trees"></img>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="h5 text-dark-emphasis">Lush Tropical Rainforests</div>
                    <img src="/images/pexels-oliver-sjöström-931007.jpg" class="img-fluid border-radius-50" alt="palm trees"></img>
                </div>
            </div>
            <p class="my-5 text-black-50">
                Taniti is a small, tropical island in the Pacific. While the island has an area of less than 500 square miles, the terrain is varied and includes both sandy and rocky beaches, a small but safe harbor, lush tropical rainforests, and a mountainous interior that includes a small, active volcano. Taniti has an indigenous population of about 20,000. Until a recent increase in tourism, most of the Tanitian economy
                was dominated by fishing or agriculture.
            </p>
        </div>
    </div>
</section>
<!-- how to get here-->
<section class="projects-section bg-light mt-2" id="travel">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="/images/pexels-oleksandr-p-1004584.jpg" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black">Transportation</h4>
                            <p class="mb-0 text-black-50">
                                Come to Taniti by air or sea, and enjoy easy transportation around the island.
                            </p>
                            <a class="btn btn-primary my-2" href="/transportation" aria-label="about taniti transportation">Learn More ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hotels -->
<section class="projects-section bg-light mt-2" id="hotels">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="/images/pexels-quang-nguyen-vinh-3355788.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black">Lodging</h4>
                            <p class="mb-0 text-black-50">Taniti has a wide variety of lodging that ranges from inexpensive hostels to a four-star resort.</p>
                            <a class="btn btn-primary my-2" href="/accommodations">Where To Stay ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- activities -->
<section class="projects-section bg-light mt-2" id="entertainment">
  <div class="container px-4 px-lg-5">
      <div class="row gx-0 justify-content-center">
          <div class="col-lg-6"><img class="img-fluid" src="/images/pexels-dominika-roseclay-977737.jpg" alt="..." /></div>
          <div class="col-lg-6 order-lg-first">
              <div class="bg-light text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-black">Experiences</h4>
                          <p class="mb-0 text-black-50">Culture, adventure, and natural beauty. Find out what Taniti has to offer.</p>
                          <a class="btn btn-primary my-2" href="/experiences">Taniti Experiences ></a>
                        </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
          <div class="col-lg-6"><img class="img-fluid" src="/images/pexels-kindel-media-8181521.jpg" alt="..." /></div>
          <div class="col-lg-6">
              <div class="bg-light text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-black">Cuisine</h4>
                          <p class="mb-0 text-black-50">Taniti currently has 10 restaurants: five serve mostly local fish and rice, three serve American-style meals, and two serve Pan-Asian cuisine.</p>
                          <a class="btn btn-primary my-2" href="/shopping#restaurants">Read More ></a>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Contact-->
<section class="contact-section text-center bg-light" id="contact">
    <h3 class="mb-5">Discover More</h3>
    <p>
        <h4>Interested in visiting Taniti?</h4>
        Read our <a href="/faq">frequently asked questions</a>, or contact us below for more information.
    </p>
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
          <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                  <div class="card-body text-center">
                      <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                      <h4 class="text-uppercase m-0">Address</h4>
                      <hr class="my-4 mx-auto" />
                      <div class="small text-black-50">{{$.Site.Params.address}}</div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                  <div class="card-body text-center">
                      <i class="fas fa-envelope text-primary mb-2"></i>
                      <h4 class="text-uppercase m-0">Email</h4>
                      <hr class="my-4 mx-auto" />
                      <div class="small text-black-50"><a href="#!">{{$.Site.Params.email}}</a></div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                  <div class="card-body text-center">
                      <i class="fas fa-mobile-alt text-primary mb-2"></i>
                      <h4 class="text-uppercase m-0">Phone</h4>
                      <hr class="my-4 mx-auto" />
                      <div class="small text-black-50">{{$.Site.Params.mobile}}</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="social d-flex justify-content-center">
          <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
      </div>
  </div>
</section>
{{ end }}

{{ define "after_footer" }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://example.com",
      "logo": "/images/logo.png",
      "name": "Taniti Tourism Board",
      "description": "Taniti Tourism Board is dedicated to spreading awareness about the island of Taniti",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1 A St, Taniti",
        "addressLocality": "Taniti",
        "addressCountry": "TN",
        "postalCode": "1A"
      },
      "contactPoint": {
        "@type": "ContactPoint",
        "email": "info@example.com",
        "telephone": "1-800-123-4567"
      }
    }
  </script>
{{end}}

