{{ define "main" }}
<!-- Masthead-->
{{partial "header.html" .}}
<section class="bg-light my-5" id="hotels">
    <h2 class="text-center">Hotels In Taniti</h2>
    <div class="container p-4 px-lg-5">
        <div class="row gx-0 mb-lg-0 justify-content-center">
            <div class="col-lg-4"><img class="img-fluid" src="/images/pexels-chamara-madhushanka-2274581.jpg" alt="..." /></div>
            <div class="col-lg-8">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text p-2 w-100 my-auto text-center text-lg-left">
                            <p class="mb-0 text-black-50">
                                Taniti has a wide variety of lodging that ranges from an inexpensive hostel to one large, four-star resort. There are many small, family-owned hotels and a growing number of bed and breakfasts. All types of lodging are strictly regulated and regularly inspected by the Tanitian government.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

{{ end }}

  

