{{ define "main" }}
<!-- Masthead-->
{{partial "header.html" .}}
<section class="bg-light my-5" id="entertainment">
    <h2 class="text-center">Entertainment In Taniti</h2>
    <div class="container p-4 px-lg-5">
        <div class="row gx-0 mb-lg-0 justify-content-center">
            <div class="col-lg-4"><img class="img-fluid" src="/images/pexels-chamara-madhushanka-2274581.jpg" alt="..." /></div>
            <div class="col-lg-8">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text p-2 w-100 my-auto text-center text-lg-left">
                            <p class="mb-0 text-black-50">
                                Most people visit Taniti to enjoy the beaches, explore the rainforest, and to visit the volcano. However, there are other things to do, including visiting a local history museum, going on chartered fishing tours, snorkeling, zip-lining in the rainforest, visiting several pubs, including a microbrewery, dancing at a new dance club, seeing a movie, taking helicopter rides, playing at an arcade, visiting art galleries, and bowling. Also, a nine-hole golf course should be operational by next year. Many of these activities are located in Merriton Landing, which is a rapidly developing area on the north side of Yellow Leaf Bay
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="w-75 mx-auto my-5"> 
<section class="bg-light my-5" id="sights">
    <h2 class="text-center">Sightseeing</h2>
    <div class="container p-4 px-lg-5">
        <div class="row gx-0 mb-lg-0 justify-content-center">
            <div class="col-lg-4"><img class="img-fluid" src="/images/pexels-jeremy-bishop-2397648.jpg" alt="..." /></div>
            <div class="col-lg-8">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text p-2 w-100 my-auto text-center text-lg-left">
                            <p class="mb-0 text-black-50">
                                Most tourists spend most of their time in Taniti City, which boasts native architecture and nearby white, sandy beaches that encircle Yellow Leaf Bay.
                                <ul class="text-start my-3">
                                    <lh class="h5"> Other popular activities</lh>
                                    <li>Boat or bus tours of the island</li>
                                    <li>Hikes in the rainforest</li>
                                    <li>Visits to Taniti’s active volcano</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

  

