{{ define "main" }}
<!-- Masthea
    d-->
{{partial "header.html" .}}
<style>
    details, details p {
        margin: 1rem 2rem;
    }

    details summary {
        font-weight: bold;
    }
</style>
<section class="bg-light my-5" id="faq">
    <h2 class="text-center">Frequently Requested Information</h2>
    <div class="container p-4 px-lg-5">
        <details open>
                <summary>Do I need to bring a power adapter for electronics?</summary>
                <p>Power outlets are 120 volts (the same as in the United States). 

                </p>
        </details>
        <details open>
            <summary>What are the rules regarding alcohol consumption?</summary>
            <p>
                Alcohol is not allowed to be served or sold between the hours of midnight and 9:00 a.m. 
            </p>
        </details>
        <details open>
            <summary>What is the legal drinking age?</summary>
            <p>
                The drinking age on Taniti is 18 and the drinking age is not strictly enforced.
            </p>
        </details>
        <details open>
            <summary>What language is spoken on Taniti?</summary>
            <p>
                Many younger Tanitians speak fluent English. Very little English is spoken in rural areas, especially by the older residents.
            </p>
        </details>
        <details open>
            <summary>Are there any hospitals or doctors on Taniti?</summary>
            <p>
                There is one hospital and several clinics. The hospital has many multilingual employees.
            </p>
        </details>
        <details open>
            <summary>Is Taniti safe?</summary>
            <p>
                Violent crime is very rare on Taniti, but as tourism increases, there are more reports of pickpocketing and other petty crimes. </p>
        </details>
        <details open>
            <summary>Are businesses open on Holidays?</summary>
            <p>
                Taniti enjoys a large number of national holidays, and many tourist attractions and restaurants will be closed on holidays, so visitors should plan accordingly.</p>
        </details>
        <details open>
            <summary>What currency can I use on Taniti?</summary>
            <p>
                Taniti uses the U.S. dollar as its currency, but many businesses will also accept euros and yen. Several banks facilitate currency exchange, and many businesses accept major credit cards.</p>
        </details>
        
    </div>
  </section>
{{ end }}

  

